html
    head
        title Card Page
body
    a(href="/") |Home|
    |
    a(href="/users/"+user._id) Profile|
    |
    a(href="/logout") Log Out|
    |
    div#main
        h3 #{card.name}
        br
        |Artist: #{card.artist}
        br
        |Class #{card.cardClass}
        br
        |Attack #{card.attack}
        br
        |Health #{card.health}
        br
        |Rarity #{card.rarity}
        
    include ../partials/footer